<h1>Add/Edit post</h1>
<div class="h-1.5 mt-2">
  <mat-progress-bar *ngIf="posting" mode="indeterminate"></mat-progress-bar>
</div>
<form [formGroup]="form" class="flex flex-col mt-4">
  <mat-form-field class="mb-2">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" [readonly]="posting" />
    <mat-error *ngIf="form.get('title').hasError('required')"
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field class="mb-2">
    <mat-label>Text</mat-label>
    <textarea
      matInput
      formControlName="text"
      cols="30"
      rows="10"
      [readonly]="posting"
    ></textarea>
    <mat-error *ngIf="form.get('title').hasError('required')"
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="standard" *ngIf="categories?.length">
    <mat-label>Category</mat-label>
    <mat-select
      formControlName="postCategory"
      [compareWith]="categoryValueDisplay"
      [disabled]="posting"
    >
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div class="flex justify-between mt-4">
  <button
    mat-flat-button
    color="primary"
    (click)="post()"
    [disabled]="this.form.invalid || posting"
  >
    Post
  </button>
  <button mat-stroked-button (click)="cancel()" [disabled]="posting">
    Cancel
  </button>
</div>
