<div class="h-8 my-2">
  <div
    *ngIf="message$ | async as message"
    [ngClass]="{
      'bg-red-100/40 border-red-400/50 text-red-900':
        message.messageType === 'ERROR',
      'bg-emerald-100/40 border-emerald-400/50 text-emerald-900':
        message.messageType === 'INFO'
    }"
    class="fade-in-top h-8 w-full px-2 m-auto flex items-center justify-between rounded-md border border-solid"
  >
    {{ message.message }}
    <span
      class="cursor-pointer flex"
      matTooltip="Discard"
      (click)="discardMessage()"
    >
      <mat-icon>cancel</mat-icon>
    </span>
  </div>
</div>
