<mat-card
  class="!flex flex-row lg:flex-col bg-zinc-600 w-full lg:h-full text-white"
>
  <div
    class="flex items-center p-2 border-r-2 border-zinc-700 lg:border-transparent"
  >
    <span class="text-xl mr-2">Categories</span>
    <span
      matTooltip="Add new category"
      (click)="addNewCategory()"
      class="cursor-pointer flex p hover:bg-purple-500 rounded-full"
    >
      <mat-icon>add</mat-icon>
    </span>
  </div>
  <div class="!flex flex-row lg:flex-col overflow-x-auto lg:overflow-auto">
    <span
      class="cursor-pointer p-2 lg:block ml-2 lg:m-0 border-l-2 border-transparent hover:border-purple-500 hover:bg-zinc-700 duration-75"
      [ngClass]="{
        'border-purple-500 bg-zinc-700': !activeCategory
      }"
      (click)="onClickCategory(null)"
    >
      All</span
    >
    <ng-container *ngIf="$categories | async as categories">
      <span
        *ngFor="let category of categories?.resultData"
        class="cursor-pointer p-2 whitespace-nowrap lg:block ml-2 lg:m-0 border-l-2 border-transparent hover:border-purple-500 hover:bg-zinc-700 duration-75"
        [ngClass]="{
          'border-purple-500 bg-zinc-700': category.id === activeCategory
        }"
        (click)="onClickCategory(category)"
      >
        {{ category?.name }}
      </span>
    </ng-container>
  </div>
  <div
    *ngIf="loadingCategories"
    class="flex justify-center items-center ml-2 lg:mt-3 lg:ml-0"
  >
    <mat-spinner color="warn" diameter="30"></mat-spinner>
  </div>
</mat-card>
