<ng-container *ngIf="$posts | async as posts">
  <div class="flex flex-col w-full">
    <ng-container *ngIf="posts?.length; else noResults">
      <!-- <ng-container *ngIf="posts?.length; else noResults"> -->
      <app-post
        class="mb-4"
        *ngFor="let post of $posts | async"
        [post]="post"
        (postDeleted)="onPostDeleted()"
      ></app-post>
    </ng-container>
  </div>
</ng-container>

<ng-template #noResults>
  <div class="flex justify-center italic">
    <p>{{ noResultsMsg }}</p>
  </div>
</ng-template>

<div *ngIf="loadingPosts" class="h-full flex justify-center items-center">
  <mat-spinner diameter="50"></mat-spinner>
</div>
