<nav
  class="bg-zinc-700 text-white flex flex-row items-center justify-between px-3 py-4"
>
  <div class="flex">
    <mat-icon>account_circle</mat-icon>
    <h2 class="ml-2">My Blog</h2>
  </div>
  <div>
    <input
      class="mr-3 rounded-md px-2 py-1 outline-none text-black"
      placeholder="Search"
      [formControl]="searchExperienceField"
    />
    <ng-template #menuItems let-mobile>
      <div
        [ngClass]="
          mobile ? 'flex flex-col px-3 divide-y divide-solid' : 'inline'
        "
      >
        <span [ngClass]="{ 'mr-2': !mobile, 'py-1': mobile }">Link 1</span>
        <span [ngClass]="{ 'mr-2': !mobile, 'py-1': mobile }">Link 2</span>
        <span [ngClass]="{ 'mr-2': !mobile, 'py-1': mobile }">Link 3</span>
        <span [ngClass]="{ 'mr-2': !mobile, 'py-1': mobile }">My Profile</span>
        <span>Logout</span>
      </div>
    </ng-template>
    <div class="hidden lg:inline">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="block lg:!hidden">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container
        *ngTemplateOutlet="menuItems; context: { $implicit: true }"
      ></ng-container>
    </mat-menu>
  </div>
</nav>
<main class="p-4 h-full main-container bg-zinc-100">
  <div class="flex justify-between">
    <h1 class="text-3xl">Welcome to my Blog</h1>
    <button
      mat-flat-button
      color="primary"
      class="flex justify-self-end"
      (click)="addPost()"
    >
      Add post
    </button>
  </div>
  <app-message class="w-full lg:w-[85%] block ml-auto lg:pl-3"></app-message>
  <aside class="flex flex-col h-full lg:flex-row overflow-hidden">
    <app-category
      class="w-full lg:w-[15%] mr-4 mb-4 lg:mb-0"
      (pickedCategory)="onCategoryPick($event)"
      [postEventSubject]="postEventSubject"
    ></app-category>
    <app-blog-posts
      class="w-full h-full lg:w-[85%] overflow-auto"
      [searchInputSubject]="searchInputSubject"
      [postEventSubject]="postEventSubject"
      [pickedCategoryId]="pickedCategoryId"
    ></app-blog-posts>
  </aside>
</main>
