<nav
  class="bg-zinc-700 text-white flex flex-row items-center justify-between px-3 py-4"
>
  <h2>My Blog</h2>
  <div>
    <input
      class="mr-3 rounded-md px-2 py-1 outline-none text-black"
      placeholder="Search"
      [formControl]="searchExperienceField"
    />
    <ng-template #menuItems let-mobile>
      <div [ngClass]="mobile ? 'flex flex-col px-3' : 'inline'">
        <span [ngClass]="{ 'mr-2': !mobile }">Link 1</span>
        <hr class="my-1" *ngIf="mobile" />
        <span [ngClass]="{ 'mr-2': !mobile }">Link 2</span>
        <hr class="my-1" *ngIf="mobile" />
        <span [ngClass]="{ 'mr-2': !mobile }">Link 3</span>
        <hr class="my-1" *ngIf="mobile" />
        <span [ngClass]="{ 'mr-2': !mobile }">My Profile</span>
        <hr class="my-1" *ngIf="mobile" />
        <span>Logout</span>
      </div>
    </ng-template>
    <div class="hidden lg:inline">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="block lg:!hidden">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container
        *ngTemplateOutlet="menuItems; context: { $implicit: true }"
      ></ng-container>
    </mat-menu>
  </div>
</nav>
<div class="p-4 h-full">
  <div class="flex justify-between">
    <h1 class="text-3xl">Welcome to my Blog</h1>
    <button
      mat-flat-button
      color="primary"
      class="flex justify-self-end"
      (click)="addPost()"
    >
      Add post
    </button>
  </div>
  <app-message class="w-full lg:w-[85%] block ml-auto lg:pl-3"></app-message>
  <div class="flex flex-col lg:flex-row h-full">
    <app-category
      class="w-full lg:w-[15%] mr-4 mb-4 lg:mb-0"
      (pickedCategory)="onCategoryPick($event)"
    ></app-category>
    <app-blog-posts
      class="w-full lg:w-[85%]"
      [searchInputSubject]="searchInputSubject"
      [newPostSubject]="newPostSubject"
      [pickedCategoryId]="pickedCategoryId"
    ></app-blog-posts>
  </div>
</div>
