<div class="h-full">
  <div class="bg-zinc-700 flex flex-row items-center justify-between px-3">
    <h2 class="text-white">My Blog</h2>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Search"
          [formControl]="searchExperienceField"
        />
      </mat-form-field>
      <span>Link 1</span>
      <span>Link 2</span>
      <span>Link 3</span>
      <span>My Profile</span>
      <span>Logout</span>
    </div>
  </div>
  <button mat-flat-button color="primary" class="ml-auto" (click)="addPost()">
    Add post
  </button>
  <div class="flex flex-col lg:flex-row mt-6 h-full p-4">
    <!-- <div class="flex flex-col p-4 mr-4 w-1/6 bg-gray-400 h-full">
      <span *ngFor="let category of ($categories | async)?.resultData">
        {{ category?.name }}
      </span>
    </div> -->
    <app-category
      class="w-full lg:w-1/6 mr-4 mb-4 lg:mb-0"
      (pickedCategory)="onCategoryPick($event)"
    ></app-category>
    <app-blog-posts
      class="w-full"
      [searchInputSubject]="searchInputSubject"
      [newPostSubject]="newPostSubject"
      [pickedCategoryId]="pickedCategoryId"
    ></app-blog-posts>
  </div>
</div>
