<div>
  <form [formGroup]="form" class="flex flex-col">
    <mat-form-field class="cxe-left-align" style="margin-left: 15px">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field class="cxe-left-align" style="margin-left: 15px">
      <mat-label>Text</mat-label>
      <textarea matInput formControlName="text" cols="30" rows="10"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlex="auto">
      <mat-label>Category</mat-label>
      <mat-select formControlName="postCategory">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="visibility.invalid">{{ visibilityErrorMessage }}</mat-error> -->
    </mat-form-field>
  </form>
  <button mat-button (click)="post()" [disabled]="this.form.invalid">
    Post
  </button>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
</div>
